<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seraphshroud.huber" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSignupActivity" >
        </activity>
        <activity android:name=".ClientWelcome" >
        </activity>
        <activity android:name=".BarberWelcome" >
        </activity>
        <activity android:name=".ClientInfo" >
        </activity>
        <activity android:name=".BarberInfo" >
        </activity>
        <activity android:name=".ClientOrBarber" >
        </activity>
        <activity android:name=".FindBarber" >
        </activity>
        <activity android:name=".BarberSearchResults" >
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="string/Huber"
            android:launchMode="singleTop">
            <!-- We reference a drawable resource here, so we must use android:resource -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/scissor"/>
            <!-- For these non-resource options, use android:value -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_HELP_TEXT"
                android:value="Reset Password"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.MIN_PASSWORD_LENGTH"
                android:value="8"/>
        </activity>
        <activity
            android:name=".Calendar"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
